<header class="header">
  <div class="background-header">
    <div class="container">
      <div class="header-wrapper">
        <a class="header-link-logo" href="/index.html">
          <svg class="header-icon-logo">
            <use href="/img/icons.svg#icon-logo" />
          </svg>
        </a>

        <ul class="header-list-menu">
          <li class="header-item-menu">
            <button class="header-btn-search" type="button">
              <svg class="header-icon-search">
                <use href="/img/icons.svg#icon-search" />
              </svg>
            </button>
          </li>
          <li class="header-item-menu">
            <a class="header-list-link-menu">
              <svg class="header-icon-menu">
                <use href="/img/icons.svg#icon-persona" />
              </svg>
            </a>
          </li>
          <li class="header-item-menu">
            <a class="header-list-link-menu">
              <svg class="header-icon-menu">
                <use href="/img/icons.svg#icon-like" />
              </svg>
            </a>
          </li>
          <li class="header-item-menu">
            <a class="header-list-link-menu">
              <svg class="header-icon-menu">
                <use href="/img/icons.svg#icon-basket" />
              </svg>
            </a>
          </li>
        </ul>

        <button class="header-btn-burger" type="button">
          <svg class="header-icon-burger">
            <use href="/img/icons.svg#icon-burger" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>
