<section class="hero-main">
  <div class="background-hero">
    <div class="container">
      <div class="hero-main-wrapper">
        <h1 class="hero-main-title">электро велосипеды</h1>
        <p class="hero-main-p">
          Cento10 Hybrid — это гоночный велосипед с помогающим педалированию
          электроприводом, который устанавливает новый, очень высокий стандарт
          для данной категории
        </p>
        <a class="hero-main-btn" href="">Подробнее</a>
      </div>
      <div class="hero-slider">
        <div class="hero-slider-indecator">
          <svg class="hero-slider-icon">
            <use href="/img/icons.svg#icon-circle" />
          </svg>
          <svg class="hero-slider-icon">
            <use href="/img/icons.svg#icon-circle" />
          </svg>
          <svg class="hero-slider-icon">
            <use href="/img/icons.svg#icon-circle" />
          </svg>
        </div>
        <div class="hero-slides">
          <div class="hero-slide">
            <p class="hero-slde-p">
              Экстремальное вождение на горном велосипеде
            </p>
            <a class="hero-slde-a" href="#">Подробнее</a>
          </div>
          <div class="hero-slide">
            <p class="hero-slde-p">Велосипеды для профессионалов</p>
            <a class="hero-slde-a" href="#">Подробнее</a>
          </div>
          <div class="hero-slide">
            <p class="hero-slde-p">Долгая поездка на шоссейном велосипеде</p>
            <a class="hero-slde-a" href="#">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
