<section class="section-partners">
  <div class="container">
    <div class="scrolling-wrapper">
      <div class="scrolling-content">
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-shimano-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-sram-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-tacx-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-topeak-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-trek-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-wahoo-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-wilier-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>

        <div class="scrolling-item">
          <img
            src="../img/partners/partner-shimano-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-sram-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-tacx-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-topeak-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-trek-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-wahoo-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
        <div class="scrolling-item">
          <img
            src="../img/partners/partner-wilier-mobail.jpg"
            alt=""
            class="scrolling-img"
          />
        </div>
      </div>
    </div>
  </div>
</section>
